* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
label,
p {
  color: #2b2b2a;
  margin: 8px auto;
}

input {
  flex: 1; /* Make input take available space */
  padding: 12px;
  border-radius: 10px 0 0 10px;
  border: 1px solid #ccc;
}

button {
  background-color: #2b2b2a;
  color: white;
  padding: 12px;
  border-radius: 0 10px 10px 0;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

small {
  color: red;
  margin-top: 5px;
}

body {
  background: #2b2b2a;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#container {
  background-color: white;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  border-radius: 10px;
  position: relative; /* Ensure the suggestions are positioned correctly */
}

#inputContainer {
  display: flex;
  margin-top: 45px;
}

#suggestion {
  position: absolute;
  list-style: none;
  width: calc(
    100% - 40px
  ); /* Match the width of the inputContainer minus padding */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  text-align: left;
  z-index: 1000; /* Ensure it appears above other elements */
  background-color: white; /* Ensure the background is white */
  margin-top: 5px; /* Add some space between input and suggestions */
}

#suggestion li {
  background-color: white;
  padding: 3px;
  cursor: pointer;
  color: #2b2b2a;
}

#temperature p {
  font-size: 60px;
  margin-top: -30px;
}

#weatherDesc {
  font-size: 20px;
}

#weatherIcon {
  width: 200px;
  height: 200px;
  margin: 0 auto 10px;
  margin-bottom: 0;
  display: none;
}

#forecastHourly {
  margin-top: 50px;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
}

.hourlyItem {
  flex: 0 0 auto;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  color: #2b2b2a;
}

.hourlyItem img {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

#footer {
  bottom: 0;
  text-align: center;
}
